{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "jest",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": 0,
    "func-style": [1, "expression"],
    "global-require": 0,
    "import/extensions": 0,
    "import/first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "max-len": ["error", 120],
    "new-cap": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-extension": "off",
    "react/sort-comp": [1, {
      order: [
        'type-annotations',
        'static-methods',
        'lifecycle',
        'everything-else',
        'render',
      ],
    }],
  }
}
