.Modal {
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Modal__Container {
  background: #FFFFFF;
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition:
    visibility 0s 0.25s,
    transform 0.25s,
    opacity 0.25s;
}

.Modal__Container--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.Modal__Header {
  padding: 10px 10px 0;
  text-align: right;
}

.Modal__Header__Button {
  background: none;
  border: none;
  padding: 10px;
  transform: rotate(45deg);
}

.Modal__Header__Close:before,
.Modal__Header__Close:after {
  width: 15px;
  background-color: #000000;
}

.Modal__Content {
  padding: 25px;
}
