.Radio {
  display: flex;
  margin-right: 10px;
}

.Radio:last-child {
  margin-right: 0;
}

.Radio:hover {
  cursor: pointer;
}

.Radio:focus {
  outline: none;
}

.Radio__Input {
  margin-right: 8px;
}
